<%- include('partials/head') %>

<link rel="preload" href="/assets/css/index.css" as="style">
<link rel="stylesheet" href="/assets/css/index.css">

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000" preserveAspectRatio="none" class="model">
	<polygon id="path-s0" points="1000 0 1000 1000 0 1000 300 0" />
	<clipPath id="clip-s0"><use href="#path-s0"></use></clipPath>
</svg>


<h1>BrontoBall</h1>

<div class="main">
	<div class="panel">
		<div class="img" aria-label="Dos jóvenes jugando fútbol en un campo verde"></div>
		<div class="container">
			<form>
				<h2>Iniciar sesión</h2>
				<input type="email" name="email" placeholder="Correo electrónico">
				<input type="password" name="password" placeholder="Contraseña">
	
				<button>Continuar</button>
			</form>
		</div>
	</div>
</div>

<div class="about-row">
	<div class="about">
		<h2>Acerca de...</h2>
		<p>
			Somos un equipo de programadores enfocados a brindarles las mejores
			herramientas para el ambito deportivo y/o social.
		</p>
	</div>

	<div class="img"></div>
</div>

